<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesli Kitaplar</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/audio_book_list.css">
    
</head>

<body>
    <!-- Navigation -->
       {{> navbar}}

    <!-- Audio Books List -->
    <div class="audiobook-grid">
        {{#books}}
        <div class="audiobook-item" data-id="{{id}}">
            <div class="audiobook-content">
                <img src="{{cover_image}}" alt="{{title}}">
                <h3>{{title}}</h3>
                <p>Yazar: {{author}}</p>
            </div>
            <a href="/audio_book_detail/{{id}}" class="audiobook-btn">Detayları Gör</a>
        </div>
        {{/books}}
        {{^books}}
        <p>Henüz sesli kitap eklenmedi.</p>
        {{/books}}
    </div>

    <script src="/js/audio_books.js"></script>
    <script src="/js/navbar.js"></script>
</body>

</html>