
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }}</title>
    <link rel="stylesheet" href="/css/audio_book_list.css">
    
</head>

<body>
    <!-- Sayfa Başlığı -->
    <div class="header">
        Sesli Kitap: {{ book.title }}
    </div>
   <!-- kitap detayları -->
       <div class="book-list">
        {{#books}}
        <div class="book-item">
            <img src="{{ cover_image }}" alt="{{ title }}">
            <div class="book-details">
                <h2>{{ title }}</h2>
                <h3>Yazar: {{ author }}</h3>
                <p><strong>Kategori:</strong> {{ category }}</p>
                <p>{{ description }}</p>
                <p><strong>Süre:</strong> {{ duration }} dakika</p>
                <audio controls>
                    <source src="{{ audio_file }}" type="audio/mpeg">
                    Tarayıcınız bu sesi oynatmayı desteklemiyor.
                </audio>
            </div>
        </div>
        {{/books}}
    </div>
    <!-- Footer -->
    <div class="footer">
        Tüm hakları saklıdır. | Kitap Platformu
    </div>
</body>

</html>