{% extends 'books/base.html' %}

{% block content %}
<h2>Kitap Listesi</h2>
<ul>
    {% for book in books %}
    <li>{{ book.title }} - {{ book.author.name }}</li>
    {% empty %}
    <p>Henüz kitap eklenmedi.</p>
    {% endfor %}
</ul>
{% endblock %}