<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Kitap Detayı</title>
    <link rel="stylesheet" href="/css/ebookdetails.css">
         <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
  {{> navbar}}
  <script src="/js/navbar.js"></script>
    <script src="/js/rating.js"></script>
    

    <!-- Kitap Detayları -->
    <div class="container">
        <!-- Kitap Kapağı -->
        <div class="book-cover">
            {{#cover_image}}
            <img src="{{cover_image}}" alt="{{title}}">
            {{/cover_image}}

              <p><strong>Ortalama Puan:</strong> <span id="average-rating">{{averageRating}}</span></p>
        </div>

        <div class="ebookrating" data-book-id="{{id}}" data-user-id="{{user.id}}">
            {{#isLoggedIn}}
                <div class="stars-container">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>
              
            {{/isLoggedIn}}
            {{^isLoggedIn}}
             
            {{/isLoggedIn}}
        </div>

        <!-- Kitap Bilgileri -->
        <div class="book-info">
            <h1>{{title}}</h1>
            <p><strong>Yazar:</strong> <span>{{author}}</span></p>
            <p><strong>Yayın Tarihi:</strong> <span>{{published_date}}</span></p>
            <p>{{description}}</p>

            <!-- Favorilere Ekle/Kaldır -->
            <div class="action-links">
                {{#isLoggedIn}} <!-- Kullanıcı giriş yapmışsa -->
                <form method="POST" action="/favorite/{{id}}">
                    <input type="hidden" name="_csrf" value="{{csrf_token}}">
                    {{#is_favorite}}
                    <button type="submit">Favorilerden Kaldır</button>
                    {{/is_favorite}}
                    {{^is_favorite}}
                    <button type="submit">Favorilere Ekle</button>
                    {{/is_favorite}}
                </form>
                {{/isLoggedIn}}

                {{^isLoggedIn}} <!-- Giriş yapmamış kullanıcıya mesaj -->
                <p>Favorilere eklemek için <a href="/login">giriş yapın</a>.</p>
                {{/isLoggedIn}}
            </div>

      
            </div>
        </div>
           <div class="footer">
        Tüm hakları saklıdır. | Kitap Platformu
    </div>
    </div>
</body>
</html>
