
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kategoriler</title>
    <link rel="stylesheet" href="/css/categories.css">
  
</head>

<body>
    <h1>Kategoriler</h1>

    <div class="categories-container">
        {{#categoryBooks}}
        <!-- Kategori için her bir bölümü dinamik olarak oluşturuyoruz -->
        <div class="category">
            <div class="category-title">{{category.name}}</div>
            <div class="books-row">
                {{#books}}
                <div class="book-item">
                    <img src="{{cover_image}}" alt="Kitap Görseli">
                </div>
                {{/books}}
            </div>
        </div>
        {{/categoryBooks}}
    </div>
</body>

</html>