
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kategoriler</title>
    <link rel="stylesheet" href="/css/categories.css">
  
</head>

<body>
  <nav class="navbar">
        <a href="#" class="logo">Soundsea</a>
        <div class="nav-links">
            <a href="/audio_book_list">Sesli Kitaplar</a>
            <a href="/ebooks">E-Kitaplar</a>
            <a href="/categories">Kategoriler</a>
        </div>
 <div class="auth-buttons">
            {{#is_logged_in}}
            <div class="user-initials">
                {{user_first_initial}}
            </div>
  <div class="dropdown">
      <div class="dropdown-content">
        <a href="#" id="logoutButton">Çıkış Yap</a>
      </div>
</div>

            {{/is_logged_in}}

            {{^is_logged_in}}
            <a href="/login" class="login-btn">Giriş Yap</a>
            <a href="/register" class="subscribe-btn">Hemen Üye Ol</a>
            {{/is_logged_in}}
        </div>
    </nav>

  
    <div class="categories-container">
        {{#categoryBooks}}
        <!-- Kategori için her bir bölümü dinamik olarak oluşturuyoruz -->
        <div class="category">
            <div class="category-title">{{category.name}}</div>
            <div class="books-row">
                {{#books}}
                <div class="book-item">
                    <img src="{{cover_image}}" alt="Kitap Görseli">
                </div>
                {{/books}}
            </div>
        </div>
        {{/categoryBooks}}
    </div>
</body>

</html>