<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>E-Kitaplar</title>
    <link rel="stylesheet" href="/css/ebook.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    {{> navbar}}

    <div class="ebook-grid">
        {{#books}}
        <div class="ebook-item" data-id="{{id}}">
            <div class="ebook-content">
                <img src="{{cover_image}}" alt="{{title}}">
                <h3>{{title}}</h3>
                <p>Yazar: {{author.name}}</p>
            </div>
            <a href="/ebook/{{id}}" class="ebook-btn">Detayları Gör</a>
        </div>
        {{/books}}
        {{^books}}
        <p>Henüz e-kitap eklenmedi.</p>
        {{/books}}
    </div>

    <script src="/js/ebooks.js"></script>
      <script src="/js/navbar.js"></script>
</body>

</html>