:root {
    --blue: #007bff;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --black: #000000;
    --bg-light: #f4f8fb;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--white);
    color: var(--gray-dark);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: var(--primary-blue);
    color: var(--white);
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 8px var(--card-shadow);
}

/* Kitap Konteyner */
.book-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: 50px auto;
    padding: 30px;
    max-width: 800px;
    background: var(--white);
    border-radius: 10px;
    border: 1px solid #ddd;
 

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}

.book-details img {
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: transform 0.3s ease;
}

.book-details img:hover {
    transform: scale(1.02);
}

.book-content {
    flex: 1;
    color: var(--gray-dark);
}

.book-content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: var(--black);
}

.book-content h3, 
.book-content h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--gray-dark);
    font-weight: bold;
}

.book-content h3 span,
.book-content h4 span {
    font-weight: normal;
    font-size:17px;
}

.book-content p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: var(--gray-dark);
    font-size:17px;
}

audio {
    width: 100%;
    margin-top: 30px;
    border-radius: 20px;
}

/* Footer */
.footer {
    background-color: var(--primary-blue);
    color: var(--white);
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 0.9rem;
}

/* Hover Efekt */
.rating {
    margin: 20px 0;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.star {
    font-size: 35px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star.selected {
    color: var(--black);
}

.audiobookrating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 40px;
    margin-left: 30px;
    margin-top: 5px;
}

.favorite-btn {
    position: absolute;
    display: block;
    right: 30px;
  bottom:45px;
    height: 40px;
    padding: 8px 16px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.favorite-btn:hover {
    opacity: 0.9;
}


.rating-favorite-container {
    display: flex;
    flex-direction: row;
 justify-content: space-between;
    gap: 15px;
    margin: 20px 0;
}
