:root {
    --primary-blue: #000000;
    --background-light: #ffffff;
    --text-color: #333333;
    --white: #ffffff;
    --black: #000000;
    --cyan: #00b8d4;
    --blue: #0091ea;
    --shadow-color: rgba(0, 0, 0, 0.1);
}





body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:  var(--background-light);
    /* Açık bej */
    color: #3b341a;
    /* Koyu kahve */
}

/* Header */
.header {
    background-color: var(--primary-blue);
    color: var(--white);
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 2px 4px var(--shadow-color);
}


header h1 {
    margin: 0;
}

/* Kitap Listesi */
.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 80px;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 200px;
    height: 420px;
    position: relative;
}

.book-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100% - 50px);
    overflow: hidden;
}

.book-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.book-card h3 {
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.book-card p {
    font-size: 14px;
    color: #666;
    margin: 0;
    padding: 0 10px;
}


.book-card button {
    display: block;
    width: calc(100% - 20px);
    padding: 8px 12px;
    margin: 100px 0;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-card button:hover {
    background-color: #2d5955;
}

.details-btn {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    display: block;
    padding: 8px 12px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.details-btn:hover {
    background-color: #2d5955;
}

.ebook-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.ebook-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 200px;
    height: 410px;
    position: relative;
    margin: 0 auto;
}

.ebook-content {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ebook-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.ebook-item h3 {
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
    line-height: 1.3;
    margin-bottom: 10px;
    text-align: center;
}

.ebook-item p {
    font-size: 14px;
    color: #666;
    margin: 0;
    padding: 0 10px;
    text-align: center;
}

.ebook-btn {
    position: absolute;
    bottom: 35px;
    left: 15px;
    right: 15px;
    padding: 8px 12px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.ebook-btn:hover {
    background-color: #2d5955;
}
