:root {
    --blue: #007bff;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --black: #000000;
    --bg-light: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.08);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.09);
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    
    gap: 20px;
    width: 320px;
}
.login .title1  {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
}


.login .title2  {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000000;
}


.login input {
    padding: 12px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.login input:focus {
    outline: none;
    border-color: var(--blue);
}

.login button {
    padding: 12px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.login button:hover {
    opacity: 0.9;
}

.login a {
    color: var(--blue);
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
}

.login a:hover {
    color: var(--cyan);
}

.login-container {
    background-color: var(--white);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    
   
    text-align: center;
}

.login-container h2 {
    font-size: 10px;
    margin-bottom: 20px;
    color: #3b341a;
}

.login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
}



.email-login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #3b341a;
}

.login-btn-main {
    background-color: #244d06;
    color: #cdccb5;
}

.login-btn-main:hover {
    background-color: #2d5955;
}

.forgot-password,
.signup {
    font-size: 14px;
    margin-top: 10px;
    color: #3b341a;
}

.forgot-password a,
.signup a {
    color: #244d06;
    text-decoration: none;
}

.forgot-password a:hover,
.signup a:hover {
    text-decoration: underline;
}

.errorlist {
    color: red;
    list-style: none;
    padding: 0;
}